.cover {
  margin: 40px auto;
  width: 800px;
  padding: .8em;
  text-align: center;
  border: 1px solid lightgray;
}
.header {
  background-color: #282c34;
  
  align-items: center;
  
  color: white;
}
button {
  margin: auto;
  padding: 30px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  background-color: lightgray;
  color: black;
  
}
.dont {
  text-decoration: none;
}

:root {
  --main-border: .25px solid #e1e4e8;
}

.nav {
  background: #24292e;
}

